<a href="https://colab.research.google.com/github/Japhet-Jonah/nigeria-malnutrition-scraper/blob/main/Malnutrition_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install requests BeautifulSoup

Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Collecting BeautifulSoup
  Downloading BeautifulSoup-3.2.2.tar.gz (32 kB)
  error: subprocess-exited-with-error

  Ã— python setup.py egg_info did not run successfully.
  â”‚ exit code: 1
  â•°â”€> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

Ã— Encountered error while generating package metadata.
â•°â”€> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [5]:
import requests
import pandas as pd

In [6]:
dataset_url = "https://data.humdata.org/dataset/3797b5fd-9ff3-4971-8e14-81817a335789/resource/c3fd5b8e-999d-4f6a-aadf-cb9ab42a05a3/download/nigerian-acute-malnutrition-2024-april-2025.xlsx"

In [7]:
response = requests.get(dataset_url)
file_name = "nigeria_acute_malnutrition.xlsx"

In [8]:
with open(file_name, "wb") as file:
    file.write(response.content)

print(f"âœ… Dataset downloaded and saved as {file_name}")

âœ… Dataset downloaded and saved as nigeria_acute_malnutrition.xlsx

In [9]:
df = pd.read_excel(file_name)
print("ðŸ“Š Dataset preview:")
print(df.head())

ðŸ“Š Dataset preview:
   Unnamed: 0  \
0         NaN
1         NaN
2         NaN
3  NORTH-EAST
4         NaN

  TOTAL NUMBER OF CASES OF CHILDREN 0-59 MONTHS AND PREGNANT AND LACTATING WOMEN AFFECTED BY ACUTE MALNUTRITION AND IN NEED OF TREATMENT (NORTHEAST AND NORTHWEST NIGERIA) FROM MAY 2024 TO APRIL 2025  \
0                                                NaN
1                                              State
2                                         #adm1+name
3                                            Adamawa
4                                            Adamawa

         Unnamed: 2             Unnamed: 3                  Unnamed: 4  \
0               NaN  # of Children under 5                         NaN
1            Domain                Total #  Estimated\n# of GAM\ncases
2               NaN   #indicator+CU5+Total              #indicator+GAM
3  Southern Adamawa                 616196                      246786
4  Northern Adamawa                 387806                      155316

                         Unnamed: 5                       Unnamed: 6  \
0                               NaN                              NaN
1  Estimated\n# of Girls\nGAM cases  Estimated\n# of Boys\nGAM cases
2                               NaN                              NaN
3                            135733                           111054
4                             85424                            69892

                   Unnamed: 7                  Unnamed: 8  \
0                         NaN                         NaN
1  Estimated\n# of MAM\ncases  Estimated\n# of SAM\ncases
2              #indicator+MAM              #indicator+SAM
3                      191329                       55458
4                      106453                       48864

                                 Unnamed: 9                 Unnamed: 10
0  # of Pregnant and \nBreastfeeding\nWomen                         NaN
1                                   Total #  Estimated\n# of GAM\ncases
2                      #indicator+PLW+Total                         NaN
3                                    246478                       35986
4                                    155123                       24664

In [10]:
print("\nDataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 11 columns):
 #   Column                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                --------------  -----
 0   Unnamed: 0                                                                                                                                                                                            2 non-null      object
 1   TOTAL NUMBER OF CASES OF CHILDREN 0-59 MONTHS AND PREGNANT AND LACTATING WOMEN AFFECTED BY ACUTE MALNUTRITION AND IN NEED OF TREATMENT (NORTHEAST AND NORTHWEST NIGERIA) FROM MAY 2024 TO APRIL 2025  27 non-null     object
 2   Unnamed: 2                                                                                                                                                                                            26 non-null     object
 3   Unnamed: 3                                                                                                                                                                                            28 non-null     object
 4   Unnamed: 4                                                                                                                                                                                            27 non-null     object
 5   Unnamed: 5                                                                                                                                                                                            26 non-null     object
 6   Unnamed: 6                                                                                                                                                                                            26 non-null     object
 7   Unnamed: 7                                                                                                                                                                                            27 non-null     object
 8   Unnamed: 8                                                                                                                                                                                            27 non-null     object
 9   Unnamed: 9                                                                                                                                                                                            28 non-null     object
 10  Unnamed: 10                                                                                                                                                                                           26 non-null     object
dtypes: object(11)
memory usage: 2.5+ KB
None